body {
}
   .bg-warning {
            background-color:#D60A12 !important;
            color:white !important;
        }
            .bg-warning a {
                color:white !important
            }
          #preloader div {
    position:relative;
    height: 100%;
    width:100%;
}

#preloader div img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}